<div id="welcome-panel">
	<p class="welcome"> Want a fresh start? </p>
	<p class="welcome"> <span>CityPicker</span> will help you decide!</p>
</div>

<div class="typeform">
  <iframe id="typeform" src="https://forms.typeform.io/to/5_NeJxgBRmrAkw"></iframe>
</div>